<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="3000000000" maxUrl="40960" maxQueryString="20480" />
                <fileExtensions>
                    <remove fileExtension=".config" />
                    <remove fileExtension=".mdb" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
